body{
    font-family: "Montserrat", sans-serif;
   margin: 0%;
   background-color: black;
   color: rgb(251, 251, 251);
   overflow: hidden;
  
}
.main{
    display: flex;
    height :100vh;
    padding: 0;
}

.sidebar{
  background-color: #000;
  width: 340px;
  border-radius: 1rem;/*1 rem=16px*/
  margin-right: 0.5rem;
}
.main-content{
 background-color: #121212;
 flex: 1; /* who many space other div take but the remaing shld be reserved for main*/
 border-radius: 1rem;
 overflow: auto;/* it will show the scroll bar only when needed*/
 color: black;
}
.musicplayer{
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 72px;
}
a{
    text-decoration: none;
    color: rgb(253, 253, 253);
}
.nav
{
    background-color: #121212;
    border-radius: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem;
}
.nav-option:hover{
  
  opacity: 1;
}
.nav-option-i{
    font-size: 1.25rem;
}
.nav-option-a{
    font-size: 1rem;
    margin-left: 1rem;
}
.LIBRARY{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-option img{
  height: 1.25rem;
  width: 1.25rem;
}
.lib-option icons{
  font-size: 1.25rem;
  opacity: 0.75;
  margin: 1rem;
  display: flex;
}
.icons i{
  opacity: 0.75;
  margin: 1rem;
}
.icons i:hover{
  opacity: 1;
}
.box{
  background-color: #232323;
  height: auto;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}
.box-p1{
  font-size: 1rem;
  font-weight: 500;
}
.box-p2{
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge{
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem ;
  height: 2rem;
  width: fit-content;

}
.dark-badge{
  background-color: #000;
  color: #fff;
}
.STICKY-NAV{
  position: sticky;
  top: 0;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.nav-options-icons{
  margin-left: 0.75rem;

}
.nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav-item{
 margin-right: 1rem;
}
@media (max-width: 1000px)
{
  .hide{
    display: none;
  }
}